* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: black;
}

/************************  Footer  ***************************/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  margin-top: 0px;
}
.footer-copyright {
  width: 100%;
  text-align: center;
}
.footer-copyright > h6 {
  margin-bottom: 20px;
  display: flex;
  padding: 0% 6%;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 12.3px;
  font-weight: lighter;
  flex-wrap: wrap;
}
.footer-copyright > h6 > span {
  color: #fdb622;
  text-decoration: none;
}
.footer-social {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  letter-spacing: 22px;
  margin-bottom: 40px;
  padding-top: 30px;
  font-family: "Fa brands 400", sans-serif;
}
.footer-social > div {
  text-align: center;
  padding-bottom: 10px;
}
.footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 10px;
}
.footer-image > img {
  height: 245px;
  width: 245px;
}
.footer-social > div > img {
  background-color: transparent;
}
.footer-block {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  /* margin-left: 5px; */
  margin-right: 20px;
}
.footer-block > .a1 > .input-button {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.footer-block > .a1 > .input-button > input {
  border: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 48px;
  margin-bottom: 0;
  font-size: 18px;
  width: 52.5%;
}
.footer-block > .a1 > .input-button > input::placeholder {
  margin-top: 15px;
  padding: 8px;
  font-size: 16px;
  font-weight: lighter;
}
.footer-block > .a1 > .input-button > button {
  border: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
  padding: 6px 20px;
  height: 48px;
}
.footer-block > .a1 > .input-button > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}
.fb {
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
.fb > a {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  color: white;
  justify-content: center;
  text-decoration: none;
}

/************************  Static Header  ***************************/

.static-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://assets.website-files.com/644012046178b75f6c95fc8b/644012046178b7130e95fcb4_spotsy-hero.png");
  height: 740px;
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat-x;
  background-size: auto, contain;
  padding-top: 235px;
  padding-bottom: 145px;
}
.static-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  margin-left: 270px;
}
.static-header-div > h1 {
  color: white;
  font-size: 50px;
  margin-top: 23px;
  padding-left: 4px;
}
.static-header-div > a > button {
  border: 0;
  border-radius: 10px;
  height: 45px;
  width: 20%;
  font-size: 17px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
  /* padding: 6px 20px; */
  margin-top: 55px;
}
.static-header-div > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}

/*************************** Faq  ******************************/

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 639px;
  width: 100%;
  margin: 0px;
  padding-bottom: 50px;
}
.h1-p {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: white;
  margin-bottom: 30px;
}
.h1-p > h1 {
  display: flex;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}
.h1-p > p {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-p > p > a {
  color: #fdb622;
}
.image-h1 {
  margin-left: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 80%;
  color: white;
}
.image-h1 > img {
  margin-right: 5px;
  height: 2.8%;
  width: 2.8%;
}
.image-h1 > a {
  margin: 15px 0px;
  font-size: 27px;
  padding: 20px;
}
.faq > .blank {
  height: 80px;
}

/*************************** Plus and Premium ******************************/

.plus-and-premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  height: 708px;
}
.plus-and-premium > .div-h1 {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.plus-and-premium > .div-h1 > h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: bolder;
  max-width: 660px;
}
.plusblock-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.plusblock {
  width: 216px;
  height: 352px;
  margin: 0px 69px 0px;
  display: flex;
  flex-direction: column;
}
.plusblock > h4 {
  padding-top: 23px;
  border-top: 1px solid white;
  text-align: left;
  color: white;
  margin-top: 5px;
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: lighter;
}
.plusblock > p {
  line-height: 24px;
  text-align: left;
  color: white;
  font-weight: lighter;
}
.plusblock > div > img {
  margin-top: 20px;
  margin-bottom: 12px;
  height: 50px;
  width: 50px;
}

/*************************** Choose Your Plan  ******************************/

.chooseplan {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  width: 100%;
  height: 1077px;
  background-color: black;
}
.chooseplan > h1 {
  font-size: 45px;
  margin-top: 100px;
  text-align: center;
  font-weight: 900;
}
.chooseplan > h5 {
  margin-top: 12px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
}
.chooseplan > div {
  margin-top: 45px;
}
.chooseplan > div > .btn-2,
.btn-1 {
  height: 44px;
  width: 283px;
  color: white;
  border: 1px solid white;
  background-color: black;
  font-size: 18px;
}
.chooseplan > div > .btn-1.active,
.chooseplan > div > .btn-2.active {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}
/* .chooseplan > div > .btn-2:focus {
  background-color: white;
  color: black;
} */
.chooseplan > div > .btn-1 {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-right: 0.5px solid white;
}
.chooseplan > div > .btn-2 {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 0.5px solid white;
}
.plan-wrapper {
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.plus-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  width: 345px;
  height: 544px;
  border-radius: 25px;
  margin: 0px 10px;
}
.plus-block > h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 49px;
}
.plus-block > .access {
  color: #fdb622;
  margin-bottom: -16px;
}
.plus-block > .plus {
  color: #f47941;
}
.plus-block > .premium {
  color: #e50683;
}
.plus-block > h3 {
  text-align: center;
  margin-top: 0px;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 24px;
}
.plus-block > p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}
.plus-block > button {
  height: 45px;
  width: 154px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 28px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
}
.plus-block > .access-btn {
  background-color: #fdb622;
}
.plus-block > .plus-btn {
  background-color: #f47941;
}
.plus-block > .premium-btn {
  background-color: #e50683;
}
.plus-block > .access-btn:hover {
  background-color: white;
  color: #e50683;
}
.plus-block > .plus-btn:hover {
  background-color: white;
  color: #e50683;
}
.plus-block > .premium-btn:hover {
  background-color: white;
  color: #e50683;
}
.chooseplan > h6 {
  padding-top: 40px;
  width: 440px;
  height: 66px;
  margin-top: 12px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
}

/***************************  Static Body  ******************************/

.static-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: linear-gradient(#fdb622, #f47941 55%, #e50683);
}
.static {
  box-sizing: border-box;
  width: 100%;
  padding: 70px 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.static > .static-div > img {
  width: 628px;
  height: 728px;
  border-radius: 15px;
  margin-right: 110px;
}
.static > .static-data {
  width: 628px;
  height: 728px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  padding-right: 70px;
}
.static > .static-data > a > button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;
  margin-top: 25px;
}
.static > .static-data > a > button:hover {
  background-color: white;
  color: #e50683;
}
.static > .static-data > h1 {
  line-height: 52px;
  margin-top: -15px;
  font-size: 40px;
  font-weight: bold;
}
.static > .static-data > h2 {
  font-size: 27px;
  margin-top: 17px;
  font-weight: lighter;
}
.static > .static-data > ul {
  margin-top: 40px;
  margin-left: 20px;
}
.static > .static-data > ul > li {
  font-size: 22px;
  font-weight: light;
}
.static-2 {
  box-sizing: border-box;
  width: 100%;
  padding: 70px 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.static-2 > .static-div > img {
  width: 628px;
  height: 728px;
  border-radius: 15px;
  margin-right: 100px;
  margin-left: 18px;
}
.static-2 > .static-data-2 {
  width: 628px;
  height: 728px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  margin-right: 80px;
}
.static-2 > .static-data-2 > a > button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;
  margin-top: 25px;
}
.static-2 > .static-data-2 > a > button:hover {
  background-color: white;
  color: #e50683;
}
.static-2 > .static-data-2 > h1 {
  line-height: 52px;
  margin-top: -15px;
  font-size: 40px;
  font-weight: bold;
}
.static-2 > .static-data-2 > h2 {
  font-size: 27px;
  margin-top: 17px;
  font-weight: lighter;
}
.static-2 > .static-data-2 > ul {
  margin-top: 40px;
  margin-left: 20px;
}
.static-2 > .static-data-2 > ul > li {
  font-size: 22px;
  font-weight: light;
}

/***************************  Header  ******************************/

.header {
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  will-change: scroll-position;
  transition: background-color 0.5s;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}
.header-button > a > button {
  border: 0;
  border-radius: 10px;
  height: 45px;
  width: 145px;
  font-size: 17px;
  margin-right: 275px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
  margin-top: 23px;
}
.header-button > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}
.image > img {
  margin-left: 277px;
  height: 50px;
  width: 203px;
  margin-top: 6px;
}
.header > a {
  text-decoration: none;
  margin-right: 275px;
  font-size: 22px;
  color: #fdb622;
}
