* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: black;
}

/************************  Footer  ***************************/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
}
.footer-copyright {
  width: 100%;
  text-align: center;
}
.footer-copyright > h6 {
  margin-bottom: 20px;
  padding: 0% 6%;
  text-align: center;
  color: white;
  font-size: 12.5px;
  font-weight: lighter;
  flex-wrap: wrap;
}
.footer-copyright > h6 > span {
  color: #fdb622;
  text-decoration: none;
}
.footer-social {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  letter-spacing: 22px;
  margin-bottom: 40px;
  padding-top: 30px;
  font-family: "Fa brands 400", sans-serif;
}
.footer-social > div {
  text-align: center;
  padding-bottom: 10px;
}
.footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.footer-social > div > img {
  background-color: transparent;
  padding-bottom: 34px;
  padding-top: 60px;
}
.footer-image > img {
  height: 100px;
  width: 245px;
}
.footer-block {
  display: flex;
  justify-content: space-around;
  padding: 0px 160px;
}
.footer-block > .a1 > .input-button {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.footer-block > .a1 > .input-button > input {
  border: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 48px;
  margin-bottom: 0;
  font-size: 18px;
  width: 325px;
}
.footer-block > .a1 > .input-button > input::placeholder {
  margin-top: 15px;
  padding: 8px;
  font-size: 16px;
  font-weight: lighter;
}
.footer-block > .a1 > .input-button > button {
  border: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
  padding: 6px 20px;
  height: 48px;
}
.footer-block > .a1 > .input-button > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}
.fb > a {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  color: white;
  justify-content: center;
  text-decoration: none;
}

/************************  Static Header  ***************************/

.static-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://assets.website-files.com/644012046178b75f6c95fc8b/644012046178b7130e95fcb4_spotsy-hero.png");
  width: 100%;
  height: auto;
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat-x;
  background-size: auto, contain;
  padding-top: 235px;
  padding-bottom: 145px;
}
.static-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  padding: 0px 160px;
}
.static-header-div > div {
  width: 50%;
}
.static-header-div > div > h1 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.static-header-div > div > a > button {
  border: 0;
  border-radius: 10px;
  height: 45px;
  width: 145px;
  font-size: 17px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
}
.static-header-div > div > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}
/*************************** Faq  ******************************/

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 80px 0px;
}
.h1-p {
  padding: 0px 350px 34px 350px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: white;
}
.faq-block {
  width: 100%;
  padding: 0px 350px;
}
.h1-p > h1 {
  margin: 20px 0px 10px 0px;
  display: flex;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}
.h1-p > p {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  padding: 0px 15px;
}
.h1-p > p > a {
  color: #fdb622;
}
.image-h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  padding: 20px 40px 20px 0px;
}
.image-h1 > img {
  margin-right: 20px;
  height: 27px;
  width: 27px;
}
.image-h1 > a {
  margin: 0px 0px;
  font-size: 28px;
  padding: 20px 0px;
  overflow: hidden;
}

/*************************** Plus and Premium ******************************/

.plus-and-premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  height: auto;
  width: 100%;
  padding: 80px 0px 82px 0px;
}
.plus-and-premium > .div-h1 {
  display: flex;
  align-items: center;
  padding: 0px 160px;
}
.plus-and-premium > .div-h1 > h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: bolder;
  padding: 20px 160px 66px;
}
.plusblock-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 160px;
}
.plusblock {
  width: 216px;
  height: 352px;
  display: flex;
  flex-direction: column;
}
.plusblock > h4 {
  padding-top: 23px;
  border-top: 1px solid white;
  text-align: left;
  color: white;
  padding: 20px 0px 25px 0px;
  font-size: 20px;
  font-weight: lighter;
}
.plusblock > p {
  line-height: 24px;
  padding-bottom: 10px;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}
.plusblock > div > img {
  margin-bottom: 30px;
  height: 50px;
  width: 50px;
}

/*************************** Choose Your Plan  ******************************/

.chooseplan {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  width: 100%;
  height: auto;
  padding: 80px 232px 48px;
  background-color: black;
}
.chooseplan > h1 {
  font-size: 45px;
  margin: 20px 0px 10px;
  text-align: center;
  font-weight: 900;
}
.chooseplan > h5 {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
}
.chooseplan > div {
  padding-top: 34px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.chooseplan > div > .btn-2,
.btn-1 {
  height: 44px;
  width: 283px;
  color: white;
  border: 1px solid white;
  background-color: black;
  font-size: 18px;
}
.chooseplan > div > .btn-1.active,
.chooseplan > div > .btn-2.active {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}
.chooseplan > div > .btn-1 {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-right: 0.5px solid white;
}
.chooseplan > div > .btn-2 {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 0.5px solid white;
}
.plan-wrapper {
  padding: 40px 0px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.plus-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  width: 345px;
  height: 544px;
  border-radius: 25px;
  padding: 0px 40px 30px;
  margin: 0px 10px 20px;
}
.plus-block > h1 {
  text-align: center;
  margin-top: 5px 0px 10px;
  font-size: 50px;
}
.plus-block > .access {
  color: #fdb622;
  margin-bottom: -16px;
}
.plus-block > .plus {
  color: #f47941;
}
.plus-block > .premium {
  color: #e50683;
}
.plus-block > h3 {
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 44px;
}
.plus-block > p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 10px;
}
.plus-block > button {
  height: 45px;
  width: 154px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 0px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 700;
  padding: 0px 10px;
}
.plus-block > .access-btn {
  background-color: #fdb622;
}
.plus-block > .plus-btn {
  background-color: #f47941;
}
.plus-block > .premium-btn {
  background-color: #e50683;
}
.plus-block > .access-btn:hover {
  background-color: white;
  color: #e50683;
}
.plus-block > .plus-btn:hover {
  background-color: white;
  color: #e50683;
}
.plus-block > .premium-btn:hover {
  background-color: white;
  color: #e50683;
}
.chooseplan > h6 {
  padding-top: 40px;
  width: 100%;
  height: 66px;
  margin-top: 12px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 70px;
}

/***************************  Static Body  ******************************/
.static-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: linear-gradient(#fdb622, #f47941 55%, #e50683);
  padding: 82px 0px 82px;
}
.static {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 160px 0px;
  display: flex;
  height: auto;
  justify-content: space-between;
}
.static > .static-div {
  width: 50%;
  height: auto;
}
.static > .static-div > img {
  width: 100%;
  border-radius: 15px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.static > .static-data {
  width: 50%;
  height: auto;
  color: white;
  padding-right: 87px;
}
.static > .static-data > h1 {
  margin: 20px 0px 10px;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}
.static > .static-data > h2 {
  margin: 0px 0px 30px;
  font-size: 28px;
  font-weight: lighter;
  padding-right: 5px;
}
.static > .static-data > ul > li {
  font-weight: light;
  margin: 0px 0px 10px 30px;
  padding: 0 0px 0px 0px;
  font-size: 22px;
  line-height: 32px;
}
.static > .static-data > a > button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;
  margin-top: 15px;
}
.static > .static-data > a > button:hover {
  background-color: white;
  color: #e50683;
}
.static-2 {
  box-sizing: border-box;
  width: 100%;
  padding: 70px 160px 70px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.static-2 > .static-div {
  width: 50%;
  height: auto;
  padding: 0;
}
.static-2 > .static-div > img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 15px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.static-2 > .static-data-2 {
  width: 50%;
  height: auto;
  color: white;
  padding-left: 70px;
}
.static-2 > .static-data-2 > h1 {
  margin: 20px 0px 10px;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}
.static-2 > .static-data-2 > h2 {
  margin: 0px 0px 30px;
  font-size: 28px;
  font-weight: lighter;
  padding-right: 5px;
}
.static-2 > .static-data-2 > a > button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;
  margin-top: 15px;
}
.static-2 > .static-data-2 > a > button:hover {
  background-color: white;
  color: #e50683;
}
/* .static-2 > .static-data-2 > ul {
} */
.static-2 > .static-data-2 > ul > li {
  font-weight: light;
  margin: 0px 0px 10px 30px;
  padding: 0 0px 0px 0px;
  font-size: 22px;
  line-height: 32px;
}

/***************************  Header  ******************************/

.header {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  will-change: scroll-position;
  padding: 40px 160px;
  transition: background-color 0.5s;
}
.header > a > .image {
  margin-top: 4px;
  width: 100%;
  height: auto;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-button > a > button {
  border: 0;
  border-radius: 10px;
  height: 45px;
  width: 145px;
  font-size: 17px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #e50683, #fdb622);
}
.header-button > button:hover {
  background-image: linear-gradient(to right, #e50683, #e50683);
}
.image > img {
  height: 50px;
  width: 203px;
}
.header > a {
  text-decoration: none;
  font-size: 22px;
  color: #fdb622;
}
.header > a:hover {
  color: #e50683;
}

/************************************* Media Query **********************************/

@media (max-width: 992px) {
  .static-header {
    background-position: center;
    padding: 200px 0px 120px 0px;
    background-size: cover;
  }
  .static-header-div {
    padding: 0px 120px;
  }
  .static-header-div > div {
    width: 100%;
  }
  .footer-block {
    flex-direction: column;
    padding: 0px 120px;
  }
  .input-button {
    margin-bottom: 20px;
  }
  .fb {
    margin-bottom: 20px;
  }
  .fb > a {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    color: white;
    justify-content: center;
    text-decoration: none;
  }
  .h1-p {
    padding: 0px 120px 34px 120px;
  }
  .faq-block {
    padding: 0px 120px;
  }
  .plus-and-premium > .div-h1 {
    padding: 0px 120px;
  }
  .plus-and-premium > .div-h1 > h1 {
    padding: 20px 45.5px 66px;
  }
  .plusblock-wrapper {
    padding: 0px 120px;
  }
  .plusblock {
    width: 260px;
    height: 328px;
  }
  .chooseplan {
    padding: 80px 120px 48px;
  }
  .chooseplan > div {
    padding-top: 34px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }
  .chooseplan > div > .btn-2,
  .btn-1 {
    width: 100%;
  }
  .plan-wrapper {
    padding-top: 40px 0px 30px;
  }
  .static {
    padding: 0px 120px 0px;
    flex-direction: column-reverse;
  }
  .static > .static-div {
    width: 100%;
    height: auto;
  }
  .static > .static-data {
    width: 100%;
    padding-right: 107px;
  }
  .static-2 {
    padding: 70px 120px 70px;
    flex-direction: column;
  }
  .static-2 > .static-div {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .static-2 > .static-data-2 {
    width: 100%;
    padding-left: 0px;
  }
  .static-2 > .static-data-2 > h1 {
    padding-right: 107px;
  }
  .static > .static-data > h1 {
    padding-right: 0px;
  }
  .header {
    padding: 40px 40px;
  }
}
@media (max-width: 768px) {
  .static-header {
    padding: 200px 0px 120px 0px;
    background-position: center;
    background-size: cover;
  }
  .static-header-div {
    padding: 0px 60px;
  }
  .static-header-div > div {
    width: 100%;
  }
  .input-button {
    margin-bottom: 20px;
  }
  .fb {
    margin-bottom: 20px;
  }
  .footer-block {
    flex-direction: column;
    padding: 0px 60px;
  }
  .fb > a {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    color: white;
    justify-content: center;
    text-decoration: none;
  }
  .footer-copyright > h6 {
    padding: 0px 30px;
    line-height: 24px;
  }
  .h1-p {
    padding: 0px 60px 34px 60px;
  }
  .faq-block {
    padding: 0px 60px;
  }
  .image-h1 > a {
    font-size: 22px;
  }
  .plus-and-premium > .div-h1 {
    padding: 0px 60px;
  }
  .plus-and-premium > .div-h1 > h1 {
    padding: 20px 45.5px 66px;
  }
  .plusblock-wrapper {
    height: auto;
    padding: 0px 60px;
    justify-content: center;
    padding-bottom: 70px;
  }
  .plusblock {
    width: 200px;
    height: 328px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 35px;
  }
  .chooseplan {
    padding: 80px 120px 48px;
  }
  .chooseplan > div {
    padding-top: 34px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }
  .chooseplan > div > .btn-2,
  .btn-1 {
    width: 100%;
  }
  .chooseplan > h6 {
    padding: 0px 18px;
  }
  .static {
    padding: 0px 60px 0px;
    flex-direction: column-reverse;
  }
  .static-2 > .static-data-2 > h1 {
    padding-right: 0px;
  }
  .static > .static-data {
    padding-right: 0px;
  }
  .static > .static-data > h1 {
    padding-right: 0px;
  }
  .static-2 {
    padding: 70px 60px 70px;
    flex-direction: column;
  }
  .header {
    padding: 40px 40px;
  }
}
@media (max-width: 479px) {
  .static-header {
    background-position: center;
    background-size: cover;
    padding-top: 160px;
    width: 100%;
  }
  .static-header-div {
    padding: 0px 20px;
  }
  .static-header-div > div {
    width: 100%;
  }
  .static-header-div > div > a {
    margin-left: 110px;
  }
  .static-header-div > div > h1 {
    font-size: 36px;
    text-align: center;
  }
  .footer-block {
    padding: 0px 20px;
  }
  .footer-block > .a1 > .input-button {
    flex-direction: column;
    align-items: center;
  }
  .footer-block > .a1 > .input-button > input {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer-block > .a1 > .input-button > button {
    border-radius: 10px;
    padding: 8px 0px;
    width: 30%;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .h1-p {
    padding: 0px 20px 34px 20px;
    display: flex;
  }
  .faq-block {
    padding: 0px 20px;
  }
  .h1-p > h1 {
    font-size: 30px;
  }
  .image-h1 {
    padding: 30px 0px;
  }
  .h1-p > p {
    padding: 0;
    line-height: 24px;
  }
  .image-h1 > a {
    font-size: 19px;
    padding: 0;
  }
  .plus-and-premium > .div-h1 {
    padding: 0px 20px;
  }
  .plus-and-premium > .div-h1 > h1 {
    padding: 20px 0px 66px;
    font-size: 30px;
  }
  .plusblock-wrapper {
    height: auto;
    padding: 0px 20px;
    justify-content: center;
    padding-bottom: 70px;
  }
  .plusblock {
    width: 200px;
    height: 328px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 35px;
  }
  .chooseplan {
    padding: 80px 20px 48px;
  }
  .chooseplan > h1 {
    font-size: 30px;
  }
  .chooseplan > div > .btn-2,
  .btn-1 {
    width: 100%;
  }
  .plan-wrapper {
    padding-top: 40px 0px 30px;
  }
  .plus-block {
    width: auto;
    height: 544px;
    border-radius: 25px;
    padding: 0px 40px 30px;
    margin: 0px 0px 20px;
  }
  .plus-block > .access {
    font-size: 38px;
    margin: 5px 0px 10px;
  }
  .plus-block > .plus {
    font-size: 38px;
    margin: 5px 0px 10px;
  }
  .plus-block > .premium {
    font-size: 38px;
    margin: 5px 0px 10px;
  }
  .static-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient(#fdb622, #f47941 55%, #e50683);
    padding: 82px 0px 82px;
  }
  .static {
    padding: 0px 20px 0px;
  }
  .static > .static-div {
    width: 100%;
  }
  .static > .static-data {
    width: 100%;
    padding-right: 0px;
  }
  .static > .static-data > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .static > .static-data > h2 {
    font-size: 22px;
  }
  .static > .static-data > ul > li {
    font-size: 18px;
  }
  .static-2 {
    padding: 70px 20px 70px;
  }
  .static-2 > .static-div {
    width: 100%;
  }
  .static-2 > .static-data-2 {
    width: 100%;
    height: auto;
    color: white;
    padding-left: 0px;
  }
  .static-2 > .static-data-2 > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .static-2 > .static-data-2 > h2 {
    font-size: 22px;
  }
  .static-2 > .static-data-2 > ul > li {
    font-size: 18px;
  }
  .header {
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 40px;
  }
  .image > img {
    margin-top: -5px;
  }
  .header-button {
    margin-top: 12px;
  }
}
